.datetime-picker-container {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .datetime-picker {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  span{
    margin-right: 20px;
    font-size: 20px;
}

